.sidebar-bg{
    background-color: rgb(235, 231, 231);
    width: 300px;
    height: 100vh;
}
ul li{
    list-style: none;
    color: black;
    text-decoration: none;
    padding-bottom: 20px;
    
}
ul li a{
    color: black;
    text-decoration: none;
    padding: px 0px;
    padding-left: 0px;
    margin-left: 0px;
 
    display: block;
    
} 
a:hover{
    background-color: white;
    color: black;
   
}

i{
    color:black;
    padding-left: 0px;
    padding-right: 10px;
    opacity: 0.75;
}
